div.container-fluid {
    background-color: #f9efdc !important;
}

div.card-body {
    min-height: 530px
}

table {
    background-color: #ffffff;
    border-radius: 5px !important;

}

td {
    border: none !important;
}

.tdpequeño {
    width: 50px !important;
}