.fondocabecera {
    background-size: cover !important;
    background-image: url("../../../assets/img/playacabecera.jpg") !important;
    min-height: 50vh;
    max-height: 450px !important;

    position: relative;
}

::placeholder {

    font-size: 14px;
}



div.modal-content {
    border: #f6861e 3px solid !important;
}

div.moal-header {

    border-bottom: none !important;
}

button.btn-warning {
    background-color: #f6861e !important;
    border-color: #f6861e !important;
}

.azul-letras {
    color: #0d6efd !important;
}

a.azul-letras {
    text-decoration: none !important;
}

img {
    width: 225px !important;
    height: 225px !important;
}


body {
    background-color: #ffffff !important;
}

mat-paginator {
    box-shadow: #636363bd 1px 1px 5px 2px;
    background-color: white !important;

}

div.card {
    box-shadow: #636363bd 1px 1px 5px 2px;
    background-color: white !important;
    width: 100% !important;
}

@media (max-width:748px) {
    img {
        width: 100% !important;
        margin-bottom: 20px;

    }
}

.logo {
    width: 80px !important;
    height: 80px !important;
}


@media (min-width:748px) {
    div.container-fluid {
        min-height: 700px !important;
    }

    div.card {
        box-shadow: #636363bd 1px 1px 5px 2px;
        background-color: white !important;
        width: 100% !important;
        min-width: 600px !important;
        max-width: 600px !important;
        min-height: 200px !important;
        max-height: 235px !important;
    }
}