<div class="container-fluid pb-5 mb-5">
    <div class="row fondocabecera  justify-content-around ">
        <div class="col-12 float-start  mt-3 justify-content-between">
            <img src="../../assets/img/logo.png" width="" height="80">
            <button *ngIf="logedo" type="button" class="btn btn-primary float-end me-4 mt-4 pt-1 pe-4 ps-4 pb-2 pt-2"
                [routerLink]="['/miPerfil', usuarioenvio]">Mi perfil</button>
            <button *ngIf="!logedo" type="button" class="btn btn-primary float-end me-4 mt-4 pt-1 pe-4 ps-4 pb-2 pt-2"
                (click)="inicio=true">Iniciar
                Sesión</button>
            <div *ngIf="inicio">
                <app-login></app-login>
            </div>






            <div class="row d-flex justify-content-end pt-5 mt-4  p-0">
                <div class="col-sm-3 pe-lg-4 ">
                    <div class="card tarjeta">

                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <h6 class="float-start ">¡Tengo un código de grupo!</h6>
                                </div>
                                <div class="col-1">
                                    <fa-icon class="float-end " title="Código identificador de grupo"
                                        [icon]="faquestions"></fa-icon>
                                </div>
                            </div>


                            <div class="row mt-4">
                                <div class="col-7  pe-0 ">
                                    <input class="form-control form-control-lg" type="text"
                                        placeholder="Introduce tu código" aria-label=".form-control-sm example">
                                </div>
                                <div class="col-5 ps-0">
                                    <a href="#" class="btn btn-primary float-end mt-1">Enviar</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6  ">
                <table class="table d-sm-flex  mt-3">

                    <tbody>

                        <tr class="d-flex" *ngFor="let itinerario of imagenLista ">

                            <div  class="card  mb-3 p-3" [routerLink]="['/itinerario' , itinerario.itinerarioId]">
                                <div class="row g-0">
                                    <div class="col-md-4 d-sm-flex  p-1">

                                        <img [src]="itinerario.base64" class="rounded" width="100%">
                                        <div class="col-md-12 ms-4">
                                            <h5 class="card-title"><b>{{itinerario.nombreHotel}} </b></h5>
                                            <p class="card-text">{{itinerario.ciudad}} </p>
                                            <p class="card-text"><small class="text-muted">{{itinerario.puntuacion}} Muy
                                                    Bueno</small></p>
                                        </div>
                                        <div class="col-md-12 ms-4">{{itinerario.precioNoche}} €/noche</div>

                                    </div>

                                </div>
                            </div>
                            

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<div class="container-fluid bottom-0 footer  ">
    <div class="row pt-4  justify-content-between pe-0 ps-0">
        <div class="col-auto text-center p-0 ms-3">
            <img src="../../assets/img/logo.png" width="" height="80">
        </div>

        <div class="col mb-3 p-0 m-0">
            <div class="col text-center">
                <h5 class="azul-letras"><strong>Canary Trip</strong> </h5>
                <h5 class="azul-letras"><strong>Contacta con la oficina</strong> </h5>
            </div>
            <div class="row justify-content-center p-0 me-0 ms-0 mt-3 text-center ">
                <div class="col-lg-2 ms-lg-4 ps-lg-4  pe-lg-1">
                    <fa-icon class="azul-letras" [icon]="falocationdot"></fa-icon> <b class="azul-letras">
                        Dirección:
                    </b> Bolonia 1
                </div>
                <div class="col-lg-2 pe-lg-1 ms-lg-0 me-lg-2">
                    <fa-icon class="azul-letras ms-1" [icon]="faphone"></fa-icon><b class="azul-letras">
                        Teléfono: </b> +34
                    634993673
                </div>
                <div class="col-lg-2 ms-lg-4">
                    <fa-icon class="azul-letras" [icon]="faenvelope"></fa-icon> <b class="azul-letras">
                        Email:</b>
                    jluifer@gmail.com
                </div>
            </div>
        </div>

    </div>

</div>