<div class="container-fluid bottom-0 footer  ">
    <div class="row pt-4  justify-content-between pe-0 ps-0">
        <div class="col-auto text-center p-0 ms-3">
            <img class = "imagen"src="../../assets/img/logo.png" width="" height="80">
        </div>

        <div class="col mb-3 p-0 m-0">
            <div class="col text-center">
                <h5 class="azul-letras"><strong>Canary Trip</strong> </h5>
                <h5 class="azul-letras"><strong>Contacta con la oficina</strong> </h5>
            </div>
            <div class="row justify-content-center p-0 me-0 ms-0 mt-3 text-center ">
                <div class="col-lg-2 ms-lg-4 ps-lg-4  pe-lg-1">
                    <fa-icon class="azul-letras" [icon]="falocationdot"></fa-icon> <b class="azul-letras">
                        Dirección:
                    </b> Bolonia 1
                </div>
                <div class="col-lg-2 pe-lg-1 ms-lg-0 me-lg-2">
                    <fa-icon class="azul-letras ms-1" [icon]="faphone"></fa-icon><b class="azul-letras">
                        Teléfono: </b> +34
                    634993673
                </div>
                <div class="col-lg-2 ms-lg-4">
                    <fa-icon class="azul-letras" [icon]="faenvelope"></fa-icon> <b class="azul-letras">
                        Email:</b>
                    jluifer@gmail.com
                </div>
            </div>
        </div>

    </div>

</div>
